.container {
  max-width: 110rem;
  margin-inline: auto;
  padding-inline: 2rem;

  @include desktop {
    padding-inline: 0;
  }
}

.flex {
  display: flex;
  align-items: center;
  @include gap-space();
}

.flex-between {
  @extend .flex;
  justify-content: space-between;
}

.flex-center {
  @extend .flex;
  justify-content: center;
}
